{% extends "base.html" %}

{% block content %}
<div style="color:#fff;background:#c1502e; height: 300px; width: 230px; padding: 5px; border:2px; border-color: black; border-style:solid;">
    <p>IPS</p>
    <a href="list_ips" id="list_ips">Show IPS</a> <br>
    <a id = "ips"></a>
    <form id = "add_ip" method="post">
        <p>add ip address</p>
        <input id="ipAdr" name="ipAdr" type="text" placeholder="IP Address" required><br>
        <input id='riskN' name="riskN" type="number" min="1" max="5" placeholder="Risk factor (1=no risk, 5=high risk)" required><br>
        <input id="comments" name="comments" type="text" placeholder="comments"><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/">home</a>
    <a href="listen">listen</a><br>
</div>
{% endblock %}