{% extends "base.html" %}
{% block content %}

<p>My IP Address list:</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col" style="background:#a96e5b">IP#</th>
        <th scope="col" style="background:#a96e5b">Risk Factor</th>
        <th scope="col" style="background:#a96e5b">Info</th>
        <th scope="col" style="background:#a96e5b"></th>
        <th scope="col" style="background:#a96e5b"></th>

    </tr>
    </thead>

    <tbody id="ip_list">

        {% for row in IPS %}
        <tr>
        <th scope="row">{{row.0}}</th>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>edit</td>
        <td>delete</td>

        </tr>
        {% endfor %}

    </tbody>

</table>
<br>
{% endblock %}
