

{% extends "base.html" %}

{% block content %}

<p><b>Listen to web traffic</b></p>
<form id = "listen_form" method="post">
    <input id="listen_submit" type="submit" value="Listen">
</form>
<br>
<div id="ip_scan_spinner" class="spinner-grow text-primary" role="status" style="display: none">
    <span class="sr-only">Loading...</span>
</div>
<br>


{% endblock %}
{% block ipscontent %}

<div id="ip_list" class="overflow-auto" style="display: block; color:#fff;background:#c1502e; height: 300px; width: 350px; padding: 5px; border:2px; border-color: black; border-style:solid;">
  <p>ips found:</p>
  <table class="table">
      <thead>
        <tr>
          <th scope="col" style="background:#a96e5b">IP#</th>
          <th scope="col" style="background:#a96e5b">Risk Factor</th>
          <th scope="col" style="background:#a96e5b">Info</th>
        </tr>
      </thead>

        {% include "foundips.html" %}

  </table>
  <br>
</div>
{% endblock %}